.conteiner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 1000px;
  height: 450px;
}
.header {
  display: flex;

  background-color: aquamarine;
  background-image: url(../img/school.jpg);
  background-size: cover;
}
.header-title {
  font-size: 34px;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.lessons-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: bisque;
}
.lessons-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 2px dashed aqua;
  gap: 10px;
}
.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: 28px;
}
.link {
  font-size: 28px;
  color: blue;
}
